@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero-flex hero-section">
    <div class="hero-text">
        <p class="tagline">LET THE GAMES BEGIN</p>
        <h1 class="main-title">LEVEL UP<br>YOUR BRAIN</h1>
        <p class="subtitle">Solve fun math challenges. Beat your high score. Compete with friends or chill solo.<br>Smart is the new cool.</p>
        <a href="/Games" class="play-now-btn">PLAY NOW</a>
    </div>
    <div class="hero-image">
        <!-- Пока можно просто заглушку -->
        <!-- <img src="~/images/brain.png" alt="Brain Image" /> -->
    </div>
</section>